<!-- include/footer -->
{{ "jquery.js" | asset_url | script_tag }}
{{ "jpanel.js" | asset_url | script_tag }}
{{ "jquery.dropkick-1.0.0.js" | asset_url | script_tag }}
{{ "rainbow-custom.min.js" | asset_url | script_tag }}
{{ "tooltip.js" | asset_url | script_tag }}
{{ "picker.js" | asset_url | script_tag }}
{{ "picker.date.js" | asset_url | script_tag }}
{{ "picker.time.js" | asset_url | script_tag }}
{{ "legacy.js" | asset_url | script_tag }}
{{ "jquery.toolbar.js" | asset_url | script_tag }}
{{ "jquery.avgrund.js" | asset_url | script_tag }}
{{ "responsiveslides.js" | asset_url | script_tag }}
{{ "dropdown.js" | asset_url | script_tag }}
{{ "manifest.js" | asset_url | script_tag }}

</body>
</html>